* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1259px;
    margin: auto;

}

.logo_collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_img {
    margin-left: 25px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo_search {
    width: 670px;
    height: 48.46px;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    margin-right: 143px;
    padding-left: 40px;
}

.logo_btn {
    width: 99px;
    height: 40px;
    background-color: dodgerblue;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.logo_search_icon {
    position: absolute;
    left: 10px;
}

.text {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.text>p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
    margin-left: 300px;
}

.text_btn {
    width: 165px;
    height: 34px;
    background-color: rgba(179, 177, 177, 0.681);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
}

.product_collection {
    width: 100%;
    display: flex;
    background: #F8FAFD;
}

.todo {
    width: 268px;
    padding: 25px;
    background: #fff;
}

.cart {
    width: 992px;
    padding: 20px;
}

.cart_collection {
    width: 950px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    background: #fff;
}

.cart_collection>li>img {
    width: 260px;
}

.cart_li {
    width: 282px;
    height: 331px;
    background-color: dodgerblue;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

.cart_li>img {
    margin-left: 40px;
}

.cart_item {
    width: 282px;
    height: 435.1px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.cart_text_one {
    width: 260px;
    margin-top: 10px;
}

.cart_image {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.book_div {
    width: 218px;
    height: 72px;
    background: #F8FAFD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.cart_item_btn-1 {
    width: 120px;
    height: 37px;
    background: #FFD80D;
    border-radius: 4px;
    border: none;
}

.cart_item_btn-2 {
    width: 120px;
    height: 37px;
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    border: none;

}

.cart_item_btn-3 {
    width: 246px;
    height: 37px;
    background: #75828A;
    border-radius: 4px;
    margin-top: 5px;
    border: none;

}